<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  {{ template "head" "Authorization"}}
</head>

<body class="h-full">
  <div class="overflow-hidden bg-white py-16 px-4 sm:px-6 lg:px-8 lg:py-24">
    <div class="relative mx-auto max-w-md">
      {{ template "bgsq" . }}
      <div class="text-center">
        <img class="mx-auto h-12 w-auto mb-4" src="{{.AppLogo}}" alt="{{.AppName}}">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Authorize</h2>
        <p class="mt-4 text-lg leading-6 text-gray-500">
          <a href="{{.data.Client.Domain}}" target="_blank"
            class="text-gray-700 underline underline-offset-4">{{.data.Client.Name}}</a> would like to perform the
          following actions on your behalf:
        </p>
      </div>
      <div class="mt-12">
        <form action='{{ route "auth" }}' method="POST" class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
          <input type="hidden" name="csrf_token" value="{{ .csrfToken }}">

          {{ if .data.Scopes }}
          {{ range $appID, $scopes := .data.Scopes }}
          {{ if $scopes.Scopes }}
          <div class="sm:col-span-2">
            <div class="flex items-start">
              <img class="h-10 w-10 rounded-md bg-blue-100" src="{{ $scopes.AppLogo }}" alt="{{ $scopes.AppName }}">
              <span class="ml-5 flex flex-grow flex-col">
                <span class="text-sm font-medium text-gray-900" id="availability-label">{{ $scopes.AppName }}</span>
                <span class="text-sm text-gray-500" id="availability-description">{{ $scopes.Scopes.String }}.</span>
              </span>
            </div>
          </div>
          {{ end }}
          {{ end }}
          {{ end }}

          <div>
            <button type="submit"
              class="inline-flex w-full items-center justify-center rounded-md border border-transparent bg-blue-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
              Allow </button>
          </div>
          <div>
            <a href="{{.data.Client.Domain}}"
              class="inline-flex w-full items-center justify-center rounded-md border border-gray-300 bg-white px-6 py-3 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
              Cancel </a>
          </div>

          <div class="sm:col-span-2 text-center items-center">
            <p class="text-base text-gray-500">
              Or <a href="{{.data.Client.Domain}}" class="font-medium text-gray-700 underline underline-offset-4">go
                back</a> to {{.data.Client.Name}}
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>

</html>