<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    {{ template "head" "Email verification"}}
</head>

<body class="h-full">

    <div class="overflow-hidden bg-white py-16 px-4 sm:px-6 lg:px-8 lg:py-24">
        <div class="relative mx-auto max-w-lg">
            {{ template "bgsq" . }}
            <div class="text-center">
                <img class="mx-auto h-12 w-auto mb-4" src="{{.AppLogo}}" alt="{{.AppName}}">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Verify your email</h2>
                <p class="mt-4 text-lg leading-6 text-gray-500">Verification code was sent to your email.</p>
            </div>
            <div class="mt-12">
                <form action='{{ route "verificationLink" }}' method="GET"
                    class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                    <input type="hidden" name="email" value="{{.data.email}}">
                    <input type="hidden" name="user_id" value="{{.data.user_id}}">
                    <div class="sm:col-span-2">
                        <label for="code" class="block text-sm font-medium text-gray-700">Verification code</label>
                        <div class="mt-1">
                            <input id="code" name="code" type="text" autocomplete="code"
                                class="block w-full rounded-md border-gray-300 py-3 px-4 shadow-sm focus:border-blue-500 focus:ring-blue-500">
                        </div>
                    </div>
                    <div class="sm:col-span-2">
                        <button type="submit"
                            class="inline-flex w-full items-center justify-center rounded-md border border-transparent bg-blue-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                            Verify email </button>
                    </div>
                </form>

                <div class="mt-4 text-center items-center">
                    <span class="text-base text-gray-500"> Didn't receive the code? </span>
                    <form action='{{ route "resendCode" }}' method="POST" class="inline">
                        <input type="hidden" name="csrf_token" value="{{.csrfToken}}">
                        <input type="hidden" name="email" value="{{.data.email}}">
                        <input type="hidden" name="user_id" value="{{.data.user_id}}">
                        <button type="submit"
                            class="inline font-medium text-gray-700 underline underline-offset-4">Resend</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>